/* Reset e impostazioni di base */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* Personalizzazione della scrollbar per WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 16px; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--contrast-color); /* Colore iniziale del "thumb" */
    border-radius: 10px; /* Angoli arrotondati */
    border: 3px solid rgba(0, 0, 0, 0.3); /* Piccola bordatura per la scrollbar */
    transition: background-color 0.3s, box-shadow 0.3s; /* Effetto di transizione per il colore */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color); /* Colore quando si passa sopra la scrollbar */
    box-shadow: 0 0 10px var(--hover-color); /* Aggiunge una leggera ombra durante l'hover */
}

::-webkit-scrollbar-track {
    background-color: #333; /* Colore della traccia della scrollbar */
    border-radius: 10px; /* Angoli arrotondati */
}

/* Personalizzazione della scrollbar per Firefox */
html {
    scrollbar-width: auto; /* Imposta la larghezza della scrollbar a "fine" */
    scrollbar-color: var(--contrast-color) #333; /* Imposta il colore del "thumb" e del "track" */
    scroll-behavior: smooth; /* Aggiungi l'effetto smooth scroll */
    scroll-padding-top: 80px /* Imposta l'offset per la navbar */
}

/* Aggiungi effetto hover per Firefox */
html:hover {
    scrollbar-color: var(--hover-color) #333; /* Cambia il colore del "thumb" quando hover */
}

/*
::placeholder {
    font-family: 'Poppins';
}
::-webkit-input-placeholder {
    font-family: 'Poppins';
}
:-moz-placeholder {
    font-family: 'Poppins';
}
::-moz-placeholder {
    font-family: 'Poppins';
}
:-ms-input-placeholder {
    font-family: 'Poppins';
}
*/

body {
    background-color: #121212; /* Scuro per il fondo */
    color: #fff;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f1f1f; /* Colore scuro per la navbar */
    padding: 15px 0;
    z-index: 1000; /* Navbar sempre in primo piano, nessun elemento può sovrapporvisi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: var(--contrast-color);
    display: flex; 
    align-items: center; /* Centra l'immagine verticalmente */
    flex: 0 0 3em;
}

.navbar__logo img {
    width:100%
}

.navbar__menu {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navbar__menu li {
    margin-right: 20px;
}

.navbar__menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar__menu a:hover {
    color: var(--contrast-color);
}

/* Theme selector */
.color-picker {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Impostazioni generali per ogni sezione */
section {
    padding: 50px 20px;
}

/* Scroll to top */
.scroll-to-top {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.scroll-to-top:hover {
    color: var(--contrast-color);
}

/* Sezione Introduzione */
.intro {
    background-color: #222222;
    text-align: center;
    padding-top: 130px;
}

.intro h2 {
    font-size: 2.5rem;
    color: var(--contrast-color);
}

.intro__content {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    padding: 0 20px;
    gap: 30px;  /* Spaziatura tra le sezioni */
}

.intro__image {
    display: flex;
    align-items: flex-start; /* L'immagine rimane sempre in alto */
}

.intro__image img {
    width: 300px; /* Imposta una larghezza fissa o in percentuale (es. 40% per adattarsi alla larghezza del contenitore) */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    background-position: center; /* Centra l'immagine all'interno del contenitore */
    border-radius: 8px; /* Angoli leggermente arrotondati */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombra sfumata intorno all'immagine */
    transition: all 0.3s ease; /* Animazione morbida per la transizione */
}

.intro__image figcaption {
    font-size: 25px; /* Dimensione testo didascalia */
}

.intro__image:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8); /* Ombra più intensa quando si passa sopra */
}

.intro__text {
    display: flex;
    color: #ccc;
    font-size: 1.2rem;
    max-width: auto; /* Limita la larghezza del testo per evitare che diventi troppo largo */
    margin-left: 20px; /* Aggiungi spazio tra l'immagine e il testo */
    text-align: left;
    flex-direction: column;
}

.intro__text p {
    display: flex;
    margin-bottom: 30px;
    line-height: 1.6; /* Aumenta la leggibilità del testo */
}

/* Sezione Progetti */
.projects {
    background-color: #1d1d1d;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    color: var(--contrast-color);
}

.projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.project {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
}

.project p {
    color: #ccc;
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
}

/* Sezione Servizi */
.services {
    background-color: #222222;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    color: var(--contrast-color);
}

.services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.service {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: scale(1.05);
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.service h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
}

.service p {
    color: #ccc;
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
}

/* Info Button */
.info-btn {
    padding: 10px 20px;
    background-color: var(--contrast-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.info-btn:hover {
    background-color: var(--hover-color);
}

/* Sezione Contatti */
.contact {
    background-color: #1d1d1d;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    color: var(--contrast-color);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact input, .contact textarea {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.contact textarea {
    resize: vertical, horizontal; /* Permette di ridimensionare la textarea */
}

.contact button {
    padding: 15px;
    background-color: var(--contrast-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--hover-color);
}

/* Footer */
footer {
    padding: 20px;
    background-color: #121212;
    text-align: center;
    color: #777;
}

footer p {
    font-size: 1rem;
}


/* Intestazione */
.policy-intro {
    background-color: #121212; /* Fondo scuro */
    padding: 50px 20px;
    text-align: center;
}

.policy-intro__title {
    font-size: 3rem;
    color: var(--contrast-color); /* Colore contrastante */
    margin-bottom: 20px; /* Distanza tra titolo e paragrafo */
}

.policy-intro__text {
    color: #ccc;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto; /* Centra il testo */
    line-height: 1.6;
}

/* Contenuto principale (sezione politica) */
.policy-details {
    padding: 40px 20px;
    background-color: #1e1e1e;
    color: #fff;
}

.policy-details h2 {
    font-size: 2.5rem;
    color: var(--contrast-color);
    margin-bottom: 15px; /* Spazio tra il titolo e il testo */
}

.policy-details p {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px; /* Distanza tra i paragrafi */
}

.policy-details ul {
    font-size: 1.2rem;
    color: #ccc;
    margin-left: 20px; /* Aggiungi uno spazio a sinistra per le voci della lista */
    list-style-type: disc; /* Usa punti elenco */
}

.policy-details li {
    margin-bottom: 10px; /* Distanza tra le voci della lista */
}


/* Media Queries */
@media (max-width: 768px) {
    .projects__grid {
        grid-template-columns: 1fr; /* Una colonna per dispositivi mobili */
    }

    .project img {
        height: 200px;
    }

    .intro__content h1 {
        font-size: 2.5rem;
    }

    .intro__content p {
        font-size: 1rem;
    }
}
