<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.0/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.0/build/cookieconsent.min.js"></script>
    <script src="static/js/script.js" defer></script>
    <title>Ing. Paolo Rocca - Personal website</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar__logo">
            <img src="static/images/logo.png"/>
        </div>
        <ul class="navbar__menu">
            <li><a href="#intro">Chi Sono</a></li>
            <li><a href="#projects">Progetti</a></li>
            <li><a href="#services">Servizi</a></li>
            <li><a href="#contact">Contatti</a></li>
        </ul>
        <div class="color-picker">
            <label for="colorInput">Theme</label>
            <input type="color" id="colorInput" name="theme" value="#ff0000"/>
        </div>
    </nav>

    <!-- Sezione Introduzione -->
    <section id="intro" class="intro">
        <h2>Chi sono</h2>
        <div class="intro__content">
            <p>Paolo Rocca, ingegnere meccatronico appassionato di tecnologia e innovazione.<br/>
                Prima interazione con il mondo embedded durante la tesi di laurea, sviluppando un sistema operativo a distanza per
                impianti fotovoltaici, contemplante piattaforma hardware + sistema operativo + driver di interfacciamento inverter custom.<br/>
            </p>
        </div>
        <!-- Freccia per tornare in cima -->
        <div class="scroll-to-top" onclick="scrollToTop()">
            ↑
        </div>
    </section>

    <!-- Sezione Progetti -->
    <section id="projects" class="projects">
        <h2>Progetti</h2>
        <div class="projects__grid">
            <div class="project">
                <img src="static/images/p1.jpg" alt="Progetto 1">
                <h3>Integrazione sensori di visione 3D</h3>
                <p>
                    Fornire la "vista" ad una macchina mobile è possibile utilizzando opportuni sensori.<br />
                    L'integrazione è stata realizzata in Codesys 2.3 e 3.5 su trattori sia agricoli che stradali oltre a camion da cantiere e
                    piattaforme.
                </p>
                <button class="info-btn" data-project="1">Richiedi informazioni</button>
            </div>
            <div class="project">
                <img src="static/images/p2.jpg" alt="Progetto 2">
                <h3>Gestione CAN e CANopen in wireless</h3>
                <p>
                    Tramite opportuni gateway sono stati inseriti nodi CAN comunicanti tra loro via wi-fi o Bluetooth.<br />
                    Seguita implementazione app Android per interfaccia di visualizzazione variabili e stati.<br />
                    Possibile implementazione di comandi CAN e CANopen per realizzare un "telecomando" a basso costo per macchina mobile.
                </p>
                <button class="info-btn" data-project="2">Richiedi informazioni</button>
            </div>
            <div class="project">
                <img src="static/images/p3.jpg" alt="Progetto 3">
                <h3>IO-Link e CANopen cooperanti via Ethernet</h3>
                <p>
                    Integrazione prodotti IO-Link in macchine mobili utilizzando rete Ethernet del plc come gateway.<br />
                    Il master IO-Link raccoglie dati dai device IO-Link e li invia al plc via Ethernet, CANbus raccoglie i dati dai device
                    CAN/CANopen e li invia al plc via bus: le due famiglie di dati possono essere gestite come fossero nativamente un unico
                    stream.
                </p>
                <button class="info-btn" data-project="3">Richiedi informazioni</button>
            </div>
            <div class="project">
                <img src="static/images/p4.jpg" alt="Progetto 4">
                <h3>Implementazione Mobile IoT</h3>
                <p>
                    Monitoraggio e diagnostica remota di macchine mobili, con gestione flotta e ricette personalizzabili.<br />
                    Possibile anche effettuare aggiornamento firmware da remoto su una macchina mobile (a patto di avere adeguata
                    copertura di segnale).
                </p>
                <button class="info-btn" data-project="4">Richiedi informazioni</button>
            </div>
            <div class="project">
                <img src="static/images/login.jpg" alt="Progetto 5">
                <h3>Progetto 5</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-project="5">Richiedi informazioni</button>
            </div>
            <div class="project">
                <img src="static/images/login.jpg" alt="Progetto 6">
                <h3>Progetto 6</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-project="6">Richiedi informazioni</button>
            </div>
        </div>
        <!-- Freccia per tornare in cima -->
        <div class="scroll-to-top" onclick="scrollToTop()">
            ↑
        </div>
    </section>

    <!-- Sezione Servizi -->
    <section id="services" class="services">
        <h2>Servizi</h2>
        <div class="services__grid">
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 1">
                <h3>Technical Manager</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="1">Richiedi informazioni</button>
            </div>
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 2">
                <h3>Project Manager</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="2">Richiedi informazioni</button>
            </div>
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 3">
                <h3>Product Manager</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="3">Richiedi informazioni</button>
            </div>
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 4">
                <h3>Certificazioni e normative</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="4">Richiedi informazioni</button>
            </div>
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 5">
                <h3>Formazioni</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="5">Richiedi informazioni</button>
            </div>
            <div class="service">
                <img src="static/images/login.jpg" alt="Servizio 6">
                <h3>Analisi/Programmazione/Porting</h3>
                <p>Descrizione breve</p>
                <button class="info-btn" data-service="6">Richiedi informazioni</button>
            </div>
        </div>
        <!-- Freccia per tornare in cima -->
        <div class="scroll-to-top" onclick="scrollToTop()">
            ↑
        </div>
    </section>

    <!-- Sezione Contatti -->
    <section id="contact" class="contact">
        <h2>Contatti</h2>
        <form>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Telefono</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Inserisci il numero di telefono" required>

            <label for="message">Messaggio</label>
            <textarea id="message" name="message" rows="4" placeholder="Scrivi il tuo messaggio" required></textarea>

            <button type="submit">Invia</button>
        </form>
        
        <!-- Freccia per tornare in cima -->
        <div class="scroll-to-top" onclick="scrollToTop()">
            ↑
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Paolo Rocca. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>