{% extends "index.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<section class="intro">
    <h2 class="intro__title">Privacy Policy</h2>
    <p class="intro__text">Benvenuti nella nostra Privacy Policy. Qui spieghiamo come raccogliamo, utilizziamo e proteggiamo i vostri dati.</p>
</section>

<section class="policy-details">
    <h3>1. Raccolta delle informazioni</h3>
    <p>Raccogliamo informazioni personali come nome, indirizzo email, numero di telefono, ecc., quando l'utente interagisce con il nostro sito o ci contatta tramite il modulo di contatto.</p>
</section>

<section class="policy-details">
    <h3>2. Utilizzo delle informazioni</h3>
    <p>Le informazioni raccolte vengono utilizzate per fornire i servizi richiesti, rispondere alle vostre richieste e migliorare l'esperienza utente.</p>
</section>

<section class="policy-details">
    <h3>3. Protezione dei dati</h3>
    <p>Ci impegniamo a proteggere i vostri dati personali utilizzando misure di sicurezza adeguate per prevenire accessi non autorizzati o la divulgazione dei dati.</p>
</section>

<section class="policy-details">
    <h3>4. Cookie</h3>
    <p>Il nostro sito utilizza i cookie per migliorare l'esperienza di navigazione. È possibile gestire le preferenze sui cookie nelle impostazioni del browser.</p>
</section>

<section class="policy-details">
    <h3>5. Modifiche alla Privacy Policy</h3>
    <p>Ci riserviamo il diritto di aggiornare questa privacy policy. Eventuali modifiche verranno pubblicate su questa pagina con la data di revisione aggiornata.</p>
</section>

<section class="policy-details">
    <h3>6. Contattaci</h3>
    <p>Per qualsiasi domanda sulla nostra privacy policy, non esitate a contattarci tramite il nostro modulo di contatto.</p>
</section>
{% endblock %}
